node_modules/
test/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
firebase.js
# macOS
.DS_Store
api/asyncvars.txt
api/lat-and-departure.txt
api/notes.txt
api/index.html
api/line.js
api/tr.js
